{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}

{% set giftCardAdjustment = constant('Setono\\SyliusGiftCardPlugin\\Model\\AdjustmentInterface::ORDER_GIFT_CARD_ADJUSTMENT') %}
{% set giftCardAdjustments = order.getAdjustments(giftCardAdjustment) %}
{% set giftCardAdjustmentsTotal = order.getAdjustmentsTotal(giftCardAdjustment) %}

<tr>
    <td colspan="5" id="gift-cards">
        {% if giftCardAdjustments is not empty %}
            <div class="ui relaxed divided list">
                {% for adjustment in giftCardAdjustments %}
                    <div class="item">
                        <div class="content">
                            <span class="header">
                                {{ adjustment.label }}
                                <a href="{{ path('setono_sylius_gift_card_admin_gift_card_index', {'criteria': {'search': {'type': 'equal', 'value': giftCardAdjustment.originCode} }}) }}">
                                    {{ adjustment.originCode }}
                                </a>
                            </span>
                            <div class="description">
                                {{ money.format(adjustment.amount, order.currencyCode) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>{{ 'setono_sylius_gift_card.ui.no_gift_card'|trans }}.</p>
        {% endif %}
    </td>
    <td colspan="4" id="gift-card-total" class="right aligned">
        <strong>{{ 'setono_sylius_gift_card.ui.gift_cards_adjustment_total'|trans }}</strong>:
        {{ money.format(giftCardAdjustmentsTotal, order.currencyCode) }}
    </td>
</tr>
