<div id="setono-gift-card">
    <div class="ui icon info message">
        <i class="info icon"></i>
        <div class="content">
            <div class="header">
                {{ 'sylius.ui.info'|trans }}
            </div>
            <p>
                {{ 'setono_sylius_gift_card_plugin.ui.your_gift_card_will_only_be_charged_if_you_complete_your_order'|trans }}
            </p>
        </div>
    </div>
    <div class="ui gift-card coupon action input">
        <input type="text" placeholder="{{ 'sylius.ui.enter_your_code'|trans~'...' }}">
        <button
                type="submit"
                class="ui teal icon labeled button"
                data-redirect="{{ path('sylius_shop_cart_summary') }}"
                data-url="{{ path('setono_sylius_gift_card_plugin_shop_ajax_gift_card_add') }}"
                data-csrf-token="{{ csrf_token(order.id) }}"
        >
            <i class="gift icon"></i>
            {{ 'setono_sylius_gift_card_plugin.ui.apply_gift_card'|trans }}
        </button>
    </div>
    <br>
    <div class="ui red label top pointing hidden sylius-validation-error" id="setono-cart-validation-error"></div>
</div>
