{% set path = '' %}
{% if configuration.backgroundImage is not empty %}
    {% set path = configuration.backgroundImage.path|imagine_filter('setono_sylius_gift_card_background') %}
{% endif %}

<html lang="{{ sylius_base_locale }}">
    <head>
        <title>Gift card: {{ giftCard.code }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
        <style>
            {{ configuration.pdfRenderingCss|ssgc_replace_css_option(_context)|raw }}
        </style>
    </head>
    <body>
        {{- giftCard.code -}}<br>
        {{- giftCard.amount|sylius_format_money(giftCard.currencyCode, sylius_base_locale) -}}
    </body>
</html>
