{{ form_errors(form) }}
<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            {{ form_row(form.code) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.expiresAt) }}
            <div class="ui info message">{{ 'setono_sylius_gift_card.ui.customer_help_text'|trans }}</div>
            {{ form_row(form.customer) }}
        </div>
    </div>

    <div class="column">
        <div class="ui segment">
            {{ form_row(form.currencyCode) }}
            {{ form_row(form.amount) }}
            {{ form_row(form.customMessage) }}
        </div>
    </div>
</div>
