{# @var \Setono\SyliusGiftCardPlugin\Model\GiftCardInterface giftCard #}
{% extends '@SyliusShop/layout.html.twig' %}

{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> /</div>
        <div class="active section">{{ 'setono_sylius_gift_card.ui.gift_card'|trans }}</div>
    </div>
    <div class="ui segment">
        <h1 class="ui dividing header">
            {{ 'setono_sylius_gift_card.ui.gift_card_search'|trans }}
        </h1>

        {{ form_start(form, {'attr': {'class': 'ui form', 'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        {{ form_row(form.giftCard) }}
        <button type="submit" class="ui primary icon labeled button"><i class="search icon"></i> {{ 'sylius.ui.search'|trans }}</button>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}

        {% if giftCard is not null %}
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>{{ 'setono_sylius_gift_card.ui.gift_card'|trans }}</th>
                        <th>{{ 'setono_sylius_gift_card.ui.amount'|trans }}</th>
                        <th>{{ 'setono_sylius_gift_card.ui.initial_amount'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ giftCard.code }}</td>
                        <td>{{ money.format(giftCard.amount, giftCard.currencyCode) }}</td>
                        <td>{{ money.format(giftCard.initialAmount, giftCard.currencyCode) }}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
