{% form_theme form '@SyliusAdmin/Form/imagesTheme.html.twig' %}

{{ form_errors(form) }}
<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.code) }}
            <div class="required field">
                {{ form_label(form.defaultValidityPeriod) }}
                <div class="ui action input">
                    {{ form_widget(form.defaultValidityPeriod.value) }}
                    {{ form_widget(form.defaultValidityPeriod.unit, {'attr': {'class': 'ui compact selection dropdown'}}) }}
                </div>
            </div>
            {{ form_row(form.backgroundImage) }}
            {{ form_row(form.pageSize) }}
            {{ form_row(form.orientation) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.enabled) }}
            {{ form_row(form.default) }}
            {{ form_row(form.channelConfigurations) }}
        </div>
    </div>
</div>
