{% form_theme form '@SyliusAdmin/Form/imagesTheme.html.twig' %}

{{ form_errors(form) }}
<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.code) }}
            <div class="required field">
                {{ form_label(form.defaultValidityPeriod) }}
                <div class="ui action input">
                    {{ form_widget(form.defaultValidityPeriod.value) }}
                    {{ form_widget(form.defaultValidityPeriod.unit, {'attr': {'class': 'ui compact selection dropdown'}}) }}
                </div>
            </div>
            {{ form_row(form.backgroundImage) }}
            {{ form_row(form.pageSize) }}
            {{ form_row(form.orientation) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.enabled) }}
            {{ form_row(form.default) }}
            {{ form_row(form.channelConfigurations) }}
        </div>
    </div>
</div>

<div class="ui segment">
    {{ 'setono_sylius_gift_card.ui.gift_card_configuration.pdf_live_rendering.title'|trans }}

    <div class="ui two column stackable grid">
        <div class="column">
            <div class="ui info message">
                <div class="header">{{ 'setono_sylius_gift_card.ui.gift_card_configuration.pdf_live_rendering.hint_title'|trans }}</div>
                <ul class="list">
                    {% for optionName, hint in ssgc_get_pdf_options_hint() %}
                        <li><code>{{ optionName }}</code> - {{ hint|trans }}</li>
                    {% endfor %}
                </ul>
            </div>
            {{ form_row(form.pdfRenderingCss) }}
            <div>
                {% if resource is not null %}
                    <label for="pdf_live_render_html_content">{{ 'setono_sylius_gift_card.form.gift_card_configuration.pdf_rendering_html'|trans }}</label>
                    <textarea id="pdf_live_render_html_content" disabled>{{ ssgc_get_pdf_template_content() }}</textarea>
                {% endif %}
            </div>

            <button class="ui button primary labeled icon js-ssgc-apply-pdf-changes"
                    data-url="{{ path('setono_sylius_gift_card_admin_ajax_generate_pdf', {'id': resource.id}) }}">
                <i class="icon check"></i>
                {{ 'setono_sylius_gift_card.ui.apply'|trans }}
            </button>

            <button class="ui button primary labeled icon js-ssgc-load-default-pdf-css"
                    data-url="{{ path('setono_sylius_gift_card_admin_ajax_load_default_pdf_css', {'id': resource.id}) }}">
                <i class="icon check"></i>
                {{ 'setono_sylius_gift_card.ui.load_default_css'|trans }}
            </button>
        </div>
        <div class="column js-ssgc-live-render-container" style="height: 900px;">
            <embed id="js-ssgc-live-render-box"
                   src="{{ url('setono_sylius_gift_card_admin_partial_render_pdf', {id: resource.id}) }}"
                   style="width: 100%;height: 100%;"
            />
        </div>
    </div>
</div>
